# Rust build artifacts
target/

# Local database and backup folder
db/
backups/

# Local environment variables
.env
.env.local

# System logs
logs/
*.log

ov_models/
IDE/HugOS.msi
IDE/VSCode-win32-x64/
IDE/vscode/
IDE/hugos.exe
IDE/bin/
IDE/HugOS.wixpdb
IDE/HugOS.wxs